<ng-template #header>
  <div class="">
    <h2>
      {{ title }}
    </h2>
    <app-icon-group [icons]="icons"></app-icon-group>
  </div>
</ng-template>
<ng-template #body>
  <form [formGroup]="appForm">
    <div class="input-group" *ngIf="technology">
      <label for="">Platform</label>
      <label for="" *ngFor="let technology of technologies | async">
        <input type="checkbox" name="technologies" value="{{ technology.technologyId }}" />
        {{ technology.technologyId }}
      </label>
    </div>
    <label for="projectName">Name:</label>
    <input type="text" name="projectName" formControlName="projectName" />
    <label for="projectDescription">Name application:</label>
    <input type="text" name="projectDescription" formControlName="projectDescription" />
    <label for="id">Identification:</label>
    <input type="text" name="id" formControlName="id" />
  </form>
</ng-template>
<ng-template #footer>
  <button class="btn--blue">Next</button>
</ng-template>

<app-modal [headerTemplate]="header" [bodyTemplate]="body" [footerTemplate]="footer"></app-modal>
