<ng-template #header>
  <div class="">
    <h2>
      {{ title }}
    </h2>
  </div>
</ng-template>
<ng-template #body>
  <form [formGroup]="appForm">
    <div class="input-group" *ngIf="technologies">
      <label for="">Platform:</label>
      <label
        *ngFor="let technology of technologies; let i = index"
        formArrayName="projectTechnologies"
      >
        <input type="checkbox" [formControlName]="i" />
        {{ technology.technologyName }}
      </label>
    </div>
    <label for="projectName">Name:</label>
    <input type="text" name="projectName" formControlName="projectName" />
    <label for="projectDescription">Name application:</label>
    <input type="text" name="projectDescription" formControlName="projectDescription" />
    <label for="id">Identification:</label>
    <input type="text" name="id" formControlName="id" />
  </form>
</ng-template>
<ng-template #footer>
  <button class="btn--blue" (click)="submitForm()">Next</button>
</ng-template>

<app-modal [headerTemplate]="header" [bodyTemplate]="body" [footerTemplate]="footer"></app-modal>
