@import 'variables';
@import 'mixins';
@import 'fonts';

.heading {
  display: flex;
  margin-bottom: em(70);

  &__title-wrapper {
    align-items: center;
    display: flex;
  }

  &__title {
    align-items: flex-end;
    display: flex;

    h1 {
      color: $main;
      display: inline-block;
      font-size: 32px;
      font-family: $open-sans-light;
      margin-right: em(10);
    }
    span {
      align-items: center;
      color: rgba($grey-menu-link, 0.7);
      display: inline-flex;
      font-family: $open-sans;
      font-size: 14px;
      height: em(27);
      position: relative;
      padding-left: em(28);

      &.tag {
        &::before {
          content: '';
          background-position: center;
          background-repeat: no-repeat;
          display: inline-block;
          height: em(20, 14);
          left: 0;
          position: absolute;
          top: em(2, 14);
          width: em(20, 14);
        }
        &--atom {
          &::before {
            background-image: url('/assets/images/icons/tag-atom.svg');
          }
        }
        &--inbox {
          &::before {
            background-image: url('/assets/images/icons/tag-inbox.svg');
          }
        }
        &--microsoft {
          &::before {
            background-image: url('/assets/images/icons/tag-microsoft.svg');
          }
        }
        &--watch {
          &::before {
            background-image: url('/assets/images/icons/tag-watch.svg');
          }
        }
      }

      &:not(:last-child) {
        margin-right: em(15);
      }
    }
  }

  &__actions {
    margin-left: auto;
    button {
      border: none;
      height: em(22);
      padding: 0 em(20) 0 em(10);
      position: relative;
    }

    .action-menu {
      @include box-shadow;
      align-items: center;
      border: 1px solid $grey-border;
      display: flex;
      height: em(50);

      &__btns {
        display: flex;
        padding: em(2) em(5) em(2) em(10);

        button {
          align-items: center;
          color: $black;
          display: flex;
          font-family: $open-sans;
          height: auto;
          padding: 0 em(20) 0 em(10);
          position: relative;
          width: auto;

          img {
            margin-right: em(10);
          }

          &:not(:last-child) {
            margin-right: em(5);

            &::after {
              content: '';
              height: 100%;
              background-color: $grey-border;
              position: absolute;
              right: 0;
              top: 0;
              width: 1px;
            }
          }
        }
      }

      &__hamburguer {
        border: 1px solid $grey-border;
        height: em(50);
        width: em(47);

        button {
          color: $grey-icons;
          height: 100%;
          padding: em(13) em(10);
          position: relative;
          width: 100%;
          img {
            width: 100%;
          }
        }
      }
    }
  }
}
