<section class="heading">
  <div class="heading__title-wrapper">
    <div class="heading__title">
      <h1>
        My Projects
      </h1>
      <span class="tag tag--inbox">Passing</span>
      <span class="tag tag--atom">1520</span>
      <span class="tag tag--watch">Day ago</span>
      <span class="tag tag--microsoft">150.510 Mb</span>
    </div>
  </div>
  <div class="heading__actions">
    <section class="action-menu">
      <section class="action-menu__btns">
        <button type="button">
          <img src="/assets/images/icons/files-icon-ppt.svg" alt="" />
          Create component
        </button>
        <button type="button">
          <img src="/assets/images/icons/files-icon-xls.svg" alt="" />
          Create application
        </button>
      </section>
      <section class="action-menu__hamburguer">
        <button type="button"><img src="/assets/images/icons/hamburguer-menu.svg" alt="" /></button>
      </section>
      <section class="action-menu__hiden-actions"></section>
    </section>
  </div>
</section>
