.progress {
  border: solid 1px rgba(151, 151, 151, 0.2);
  border-radius: 2px;
  background-color: #d9d9d9;
  display: flex;
  height: 12px;
  justify-content: flex-end;
  width: 156px;

  &__bar {
    // background: linear-gradient(90deg, #d9d9d9 0%, #29ba2e 100%);
    height: 100%;
    width: 100%;
  }
}
