<section class="accordion">
  <section class="accordion__header">
    <section class="accordion__title"><h3>Squad UK 012</h3></section>
    <section class="accordion__actions">
      <button type="button" class="accordion__toggle" (click)="toggleExpanded()">
        <i [ngClass]="{ 'icon-down-open': expanded, 'icon-up-open': !expanded }"></i>
      </button>
      <button type="button" class="accordion__sel"><i class="icon-th-large"></i></button>
    </section>
  </section>
  <section class="accordion__body" [ngClass]="{ 'accordion__body--expanded': expanded }">
    <main>
      <ng-content></ng-content>
    </main>
  </section>
</section>
