@import 'variables';
@import 'mixins';
@import 'fonts';

.learn-more {
  background-color: rgba(246, 251, 252, 0.3);
  border: 1px solid $grey-border;
  padding: em(15) em(25);

  h3 {
    color: $grey-font;
    font-size: 36px;
    font-family: $santander-hl-regular;
    margin-bottom: em(26, 36);
  }

  &__icons {
    display: grid;
    grid-template-columns:
      minmax(50%, 5fr)
      minmax(50%, 5fr);
    margin-bottom: em(40);
    min-width: 100%;
  }
}
