@import 'fonts';
@import 'variables';
@import 'mixins';

nav {
  display: inline-flex;
  height: 100%;
  ul {
    align-items: center;
    display: flex;
    height: 100%;

    li {
      height: 100%;

      a {
        align-content: center;
        color: $grey-menu-link;
        display: inline-flex;
        flex-wrap: wrap;
        height: 100%;
        padding: 0 em(10);
        position: relative;

        &.active {
          color: $main;
          cursor: default;

          &::after {
            background-color: $main;
            bottom: 0;
            content: '';
            height: em(4);
            left: 0;
            position: absolute;
            width: 100%;
          }
        }

        &:hover {
          &:not(.active) {
            color: rgba($color: $main, $alpha: 0.5);
          }
        }
      }
    }
  }
}
