@import 'fonts';
@import 'variables';
@import 'mixins';
nav {
  ul {
    display: flex;
    li {
      &:not(:last-child) {
        a {
          &:after {
            content: '';
            background: #fff;
            display: inline-block;
            position: absolute;
            height: 100%;
            right: 0;
            top: 0;
            width: 1px;
          }
        }
      }
      a {
        align-items: center;
        color: $white;
        display: flex;
        font-family: $open-sans-light;
        font-size: em(12);
        height: 100%;
        padding: 0 em(11) 0 em(10);
        position: relative;
        text-decoration: none;
      }
    }
  }
}
