@import 'variables';
@import 'mixins';

.modal {
  &__wrapper {
    background-color: rgba($color: $grey, $alpha: 0.8);
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
  }
}
