@import 'variables';
@import 'mixins';

.modal {
  height: 100vh;
  left: 0;
  max-height: calc(100vh + #{em(40)});
  padding-top: em(152);
  position: fixed;
  overflow: auto;
  top: 0;
  width: 100%;
  z-index: 1000;

  &__content {
    @include box-shadow;
    @include wrapper;
    background: $white;
    border-radius: 4px;
    padding: em(40) em(30);
    position: relative;
    z-index: 1001;
  }

  &__header {
    display: flex;
  }

  &__close-btn {
    font-size: em(12);
    height: em(27, 12);
    margin-left: auto;
    width: em(75, 12);
  }

  &__body {
    padding: em(20) 0;
  }

  &__overlay {
    background-color: rgba($color: $blue-label, $alpha: 0.6);
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1000;
  }

  &__footer {
    padding-top: em(20);
  }
}
