<section class="login">
  <form [formGroup]="loginForm" (submit)="submitForm()">
    <input formControlName="user" [ngClass]="{ error: user.dirty && user.errors.required }" />
    <span *ngIf="user.dirty && user.errors.required">Intro válido</span>
    <input
      type="password"
      formControlName="password"
      [ngClass]="{ error: password.dirty && password.errors }"
    />
    <span *ngIf="password.errors && password.required">Ingrese su contraseña</span>
    <button type="submit" [disabled]="loginForm.invalid">Enviar</button>
  </form>
</section>
