@import 'variables';
@import 'fonts';
@import 'mixins';

.login {
  background: $white;
  display: flex;
  height: em(788);
  margin-bottom: em(40);
  padding-left: em(25);
  width: 100%;

  h1 {
    color: $secondary;
    font-family: $santander-hl-regular;
    font-size: em(48);
  }

  h3 {
    color: $blue;
    font-family: $santander-hl-bold;
    font-size: em(21);
  }

  h4 {
    color: $grey-dark;
    font-family: $santander-hl-regular;
    font-size: em(26);
    line-height: em(44, 26);
    margin-bottom: em(10, 26);
  }

  form {
    display: flex;
    flex-direction: column;
    font-family: $open-sans;
    margin-bottom: em(23);
    width: 100%;

    button {
      font-family: $santander-hl-bold;
      font-size: em(24);
    }

    input {
      font-size: em(24);
      height: em(40, 24);
      margin-bottom: em(30, 24);
      padding: 0 em(10, 24);
      width: em(321, 24);
      & + span {
        color: $main;
        position: absolute;
        left: 0;
        top: em(45);
      }
    }
  }

  &__header {
    display: flex;
    flex-direction: column;
    height: em(113);
    justify-content: flex-end;
    border-bottom: 1px solid rgba(111, 119, 121, 0.2);
    margin-bottom: em(96);
    padding-bottom: em(15);

    &--panel {
      background-color: rgba(203, 205, 205, 0.66);
    }
  }

  &__forgot-password {
    font-size: em(16);
    color: $main;
  }

  &__no-account {
    display: flex;
    flex-direction: column;
    margin-bottom: em(85);
    margin-top: auto;

    p {
      color: $grey-dark;
      display: inline-block;
      font-family: $santander-hl-regular;
      font-size: em(20);
      line-height: em(32, 20);
    }
  }

  &__left {
    display: flex;
    flex-direction: column;
    width: 58%;
  }

  &__right {
    background: url('/assets/images/login_background.png') no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 42%;
  }

  .form-input {
    position: relative;
  }
}
