<section class="login">
  <div class="login__left">
    <div class="login__header">
      <h3>Welcome to the</h3>
      <h1>Globile Hub</h1>
    </div>
    <h4>Sign in</h4>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="form-input">
        <input
          formControlName="user"
          type="text"
          placeholder="Username"
          [ngClass]="{ error: user.dirty && !user.valid }"
        />
        <span *ngIf="user.dirty && !user.valid">Field required</span>
      </div>
      <div class="form-input">
        <input
          formControlName="password"
          type="password"
          placeholder="Password"
          [ngClass]="{ error: password.dirty && !password.valid }"
        />
        <span *ngIf="password.dirty && !password.valid">Field required</span>
      </div>
      <button type="submit" class="btn btn--red" [disabled]="!form.valid">LOG IN</button>
    </form>
    <a href="" class="login__forgot-password">forgot your password?</a>
    <div class="login__no-account">
      <p>Don't have an account?</p>
      <button type="button" class="btn btn--small">
        Get Started
      </button>
    </div>
  </div>
  <div class="login__right">
    <div class="login__header login__header--panel"></div>
  </div>
</section>
