@import 'variables';
@import 'mixins';

.login {
  background: $white;
  padding: em(15) em(25);
  height: 90%;
  width: 100%;
  form {
    display: flex;
    flex-direction: column;
    width: em(400);
  }
}
