@import 'variables';
@import 'mixins';
@import 'fonts';

$blue-link: #11546f;
table {
  display: grid;
  border-collapse: collapse;
  margin-bottom: em(20);
  min-width: 100%;
  grid-template-columns:
    minmax(6%, 1fr)
    minmax(12%, 1fr)
    minmax(34%, 2fr)
    minmax(8%, 1fr)
    minmax(10%, 1fr)
    minmax(10%, 1fr)
    minmax(8%, 1fr)
    minmax(12%, 1fr);
}

thead,
tbody,
tr {
  display: contents;
}
thead {
  tr {
    th {
      align-items: flex-start;
      border-bottom: 1px solid $grey-border;
      display: flex;
      padding: em(12, 12) em(12, 12) em(12, 12) 0;
      color: #4c4c4c;
    }
  }
}

tbody {
  tr {
    cursor: pointer;
    border: 1px solid rgba(236, 0, 0, 0.3);

    &:hover {
      td {
        background-color: $hover;
      }
    }
    &:nth-child(even) {
      td {
        background-color: $hover;
      }
    }
  }
}

th,
td {
  font-family: $santander-tx-regular;
  font-size: em(12);
  padding: em(12, 12) em(12, 12) em(12, 12) 0;
  //overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #26446c;
  &:last-child {
    padding-right: 0;
  }
}

th {
  top: 0;
  text-align: left;
  font-weight: normal;
  position: relative;
}

th:last-child {
  border: 0;
}

th:hover .resize-handle {
  opacity: 0.3;
}

td {
  align-items: center;
  color: $grey-dark;
  border-bottom: 1px solid $grey-border;
  //display: flex;
  padding-top: em(10);
  padding-bottom: em(10);

  a {
    color: $blue-link;
    text-decoration: underline;

    &:hover {
      color: darken($color: $blue-link, $amount: 30%);
    }
  }

  button {
    border: none;
    border-radius: 2px;
    color: $white;
    font-size: 12px;
    height: em(27, 17);
    // padding: em(0) em(15, 17);

    &.row {
      &--edit {
        background-color: #d8eef2;
        color: #26446c;
        border-radius: 4px;
        width: 60px;
        height: 27px;
        &:hover {
          // background-color: darken($color: $main, $amount: 4%);
          opacity: 0.7;
        }
      }
      &--view {
        background-color: #3466ff;
        color: white;
        border-radius: 4px;
        width: 60px;
        height: 27px;

        &:hover {
          // background-color: darken($color: $alternate-btn, $amount: 5%);
          opacity: 0.7;
        }
      }
    }

    & + button {
      margin-left: 8px;
    }
  }

  i {
    width: 64px;
    height: 64px;
    font-size: em(24);
    margin-right: em(5, 24);
    &.icon-table {
      color: #0aab62;
    }
    &.icon-chart-pie {
      color: $chart-pie;
    }
    &.icon-modx {
      color: #de4251;
      margin-right: 0;
    }
    &.icon-codiepie {
      color: #86d9cf;
      margin-right: 0;
    }
    &.icon-first-order {
      color: #0675c7;
      margin-right: 0;
    }
  }

  /*span {
    color: rgba($grey-menu-link, 0.7);
    font-family: $santander-tx-regular;
  }*/

  &:first-child {
    color: $black;
    font-family: $santander-tx-bold;
    font-size: em(16);
  }

  .name {
    font-family: $santander-tx-bold;
    color: #333333;
    font-size: 1.4em;
    font-weight: 600;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-top: 5px;
  }

  .type {
    margin-top: 5px;
    color: #b2b5b7;
    font-size: 16px;
  }

  .description {
    vertical-align: top;
    white-space: normal;
    color: #26446c;
  }

  .tags {
    color: #26446c;
    margin-top: 5px;
    span {
      margin-right: 5px;
    }
  }

  .action {
    flex-direction: row;
    .action-row + .action-row {
      margin-top: 15px;
    }
    .action-circle {
      &-edit {
        width: 24px;
        height: 24px;
        border-radius: 50%;
        display: inline-block;
        background-image: linear-gradient(to bottom, #00be76, #01c709 99%);
        &:hover {
          background-color: darken($color: $main, $amount: 4%);
        }
        &::before {
          font-size: 12px;
          @include icon-style;
          content: '\e80c';
          margin: 0;
        }
      }
      &-view {
        width: 24px;
        height: 24px;
        border-radius: 104px;
        background-image: linear-gradient(to bottom, #ffe015, #eeca00);
        &:hover {
          background-color: darken($color: $alternate-btn, $amount: 5%);
        }
        &::before {
          font-size: 12px;
          @include icon-style;
          content: '\f1d1';
          margin: 0;
        }
      }
    }
  }
}

.right {
  justify-content: flex-end;
  & + td,
  & + th {
    &:not(.right) {
      padding-left: em(12, 12);
    }
  }
}

.center {
  justify-content: center;
}

.black-font {
  color: $black;
}

.state-active {
  line-height: 1em;
  margin-top: 5px;
  &::before {
    content: '';
    display: inline-block;
    width: 10.2px;
    height: 10.2px;
    border-radius: 50%;
    border: solid 1px rgba(151, 151, 151, 0.5);
    background-image: radial-gradient(circle at 50% 50%, #00be0e, #00701a 101%);
    margin-right: 5px;
    vertical-align: middle;
  }
}

.row {
  // display: flex;
  flex-direction: row;
}

.col {
  display: flex;
  flex-direction: col;
}

.color-grey {
  color: #26446c;
}
