<table>
  <thead>
    <tr>
      <th></th>
      <th>Name</th>
      <th>Description/Tags</th>
      <th>Code coverage</th>
      <th>Modificacion</th>
      <th>Last release</th>
      <th>Past Tests</th>
      <th>Sast analysis</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let x of [1, 2, 3, 4, 5, 6, 7]">
      <td><svg-icon src="/assets/images/01_icon_comp_android.svg"></svg-icon></td>
      <td>
        <div class="row">
          <div class="name">login</div>
          <div class="type">Functional</div>
        </div>
      </td>
      <td>
        <div class="description block-with-text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec bibendum euismod nisl.
          Suspendisse potenti. Quisque semper tellus in neque venenatis imperdiet. Quisque nec risus
          nulla. Phasellus fermentum lacinia purus, consequat molestie turpis pretium convallis. Sed
          gravida, orci nec cursus malesuada, quam diam tincidunt orci, sed porttitor lacus ex
        </div>
        <div class="tags">
          <span>Button</span> <span>Global</span><span>Component</span><span>Android</span
          ><span>Active</span>
        </div>
      </td>
      <td class="color-grey">Sonar: A</td>
      <td>
        <div class="row">
          <div class="color-grey">YESTERDAY</div>
          <div class="state-active color-grey">alexandergarcia</div>
        </div>
      </td>
      <td class="color-grey">This month</td>
      <td class="color-grey">
        15 of 24 detail
      </td>
      <td>
        <div class="action">
          <div class="action-row">
            <button type="button" class="action-circle-edit"></button>
            <button type="button" class="action-circle-view"></button>
          </div>
          <div class="action-row">
            <button type="button" class="row--edit">Open</button>
            <button type="button" class="row--view">Coding</button>
          </div>
        </div>
      </td>
    </tr>
  </tbody>
</table>
