<ng-template #actionBtns>
  <button type="button">
    <img src="/assets/images/icons/files-icon-ppt.svg" alt="" />
    Create component
  </button>
  <button type="button" (click)="showCreateAppModal()">
    <img src="/assets/images/icons/files-icon-xls.svg" alt="" />
    Create application
  </button>
</ng-template>
<section class="home-header">
  <div class="home-header__title-wrapper">
    <div class="home-header__title">
      <h1>
        {{ title }}
      </h1>
      <app-icon-group [icons]="icons"></app-icon-group>
    </div>
  </div>
  <div class="home-header__actions">
    <app-action-menu [menuBody]="actionBtns"></app-action-menu>
  </div>
  <app-create-app-modal></app-create-app-modal>
</section>
