@import 'variables';
@import 'mixins';
@import 'fonts';

.heading {
  display: flex;
  margin-bottom: em(16);

  button {
    border-radius: 0;
  }

  &__title-wrapper {
    align-items: center;
    display: flex;
  }

  &__title {
    align-items: flex-end;
    display: flex;

    h1 {
      color: $main;
      display: inline-block;
      font-size: em(32);
      font-family: $open-sans-light;
      margin-right: em(10);
    }
  }

  &__actions {
    margin-left: auto;
  }
}
