<section class="user-feed">
  <article class="user-feed__info">
    <article class="user-feed__portrait"></article>
    <div>Alex Garcia</div>
    <div>alexandergarcia@santander.es</div>
  </article>
  <article class="user-feed__level">
    <div>
      Level:
      <span>{{ progress }}</span>
      <app-progress [total]="progress"></app-progress>
    </div>
    <div>
      <app-user-feed-tag *ngFor="let tag of userTags.level" [tag]="tag"></app-user-feed-tag>
    </div>
  </article>
  <article class="user-feed__team">
    <div>Squad:</div>
    <div>
      Online:
      <app-user-feed-tag *ngFor="let tag of userTags.squad" [tag]="tag"></app-user-feed-tag>
    </div>
  </article>
  <article class="user-feed__location">
    <div>United Kingdom</div>
    <div>
      <app-user-feed-tag *ngFor="let tag of userTags.location" [tag]="tag"></app-user-feed-tag>
    </div>
  </article>
  <button><i class="icon-menu"></i></button>
</section>
