@import 'variables';
@import 'mixins';
@import 'fonts';

.user-feed {
  background-color: rgba($white, 0.76);
  box-shadow: 0 1px 2px 0 rgba($black, 0.18), 0 1px 2px 0 rgba($black, 0.04),
    0 2px 6px 0 rgba($black, 0.04);
  height: 100%;
  padding: em(6) em(12);
  width: em(538);

  align-content: end;
  display: grid;
  grid-template-columns: repeat(2, 50%);
  grid-template-rows: repeat(2, 50%);
  justify-content: center;
  position: relative;

  article {
    div {
      color: rgba($grey-menu-link, 0.7);
      font-family: $open-sans;
      font-size: 13px;
      letter-spacing: -0.08px;
      line-height: em(18, 13);

      &:first-of-type {
        color: $black;
        font-size: 17px;
        letter-spacing: -0.41px;
        line-height: em(22, 17);
      }
    }
  }

  button {
    border: none;
    background: transparent;
    color: rgba($grey-menu-link, 0.7);
    font-size: 26px;
    height: 0;
    margin: 0;
    padding: 0;
    position: absolute;
    right: em(3, 26);
    transition: 0.5s;
    top: em(3, 26);
    width: auto;

    &:hover {
      color: rgba($grey-menu-link, 1);
    }
  }

  &__portrait {
  }
  &__info {
  }
  &__level {
    div {
      &:first-child {
        align-items: baseline;
        display: flex;
      }
    }
    span {
      color: $success;
      font-weight: bold;
      margin: 0 em(5, 17);
    }
  }
  &__team {
  }
  &__location {
  }
}
