@import 'variables';
@import 'mixins';
@import 'fonts';

.user-feed {
  background-color: rgba($white, 0.76);
  box-shadow: 0 1px 2px 0 rgba($black, 0.18), 0 1px 2px 0 rgba($black, 0.04),
    0 2px 6px 0 rgba($black, 0.04);
  height: 100%;
  padding: em(6) em(12);
  width: em(538);

  align-content: end;
  display: grid;
  grid-template-columns: repeat(2, 50%);
  grid-template-rows: repeat(2, 50%);
  justify-content: center;

  article {
    div {
      color: rgba($grey-menu-link, 0.7);
      font-family: $open-sans;
      font-size: 13px;
      letter-spacing: -0.08px;
      line-height: em(18, 13);

      &:first-of-type {
        color: $black;
        font-size: 17px;
        letter-spacing: -0.41px;
        line-height: em(22, 17);
      }
    }
  }

  &__portrait {
  }
  &__info {
  }
  &__level {
  }
  &__team {
  }
  &__location {
  }
}
