@import 'variables';
@import 'mixins';
@import 'fonts';

.tag {
  align-items: center;
  color: rgba($grey-menu-link, 0.7);
  display: inline-flex;
  font-family: $open-sans;
  font-size: em(14);
  height: em(27);
  position: relative;

  &::before {
    font-size: 20px;
    @include icon-style;
  }

  &--atom {
    &::before {
      color: #7e7e7e;
      content: '\f1b3';
      width: 1.2em; // this icon is a bit larger than the rest, so a wider container is required
    }
  }

  &--download {
    &::before {
      color: $blue-mid;
      content: '\e808';
    }
  }

  &--inbox {
    &::before {
      color: #30a536;
      content: '\e80b';
    }
  }

  &--microsoft {
    &::before {
      color: #c1c9c7;
      content: '\f17a';
    }
  }

  &--public {
    &::before {
      color: #56c896;
      content: '\e807';
    }
  }

  &--technical {
    &::before {
      color: #ffcc33;
      content: '\e809';
    }
  }

  &--watch {
    &::before {
      color: #c99898;
      content: '\e80a';
    }
  }

  &:not(:last-child) {
    margin-right: em(15);
  }
}
