<section class="overview">
  <h3>Component example</h3>
  <section class="overview__editor">
    <div class="loader" *ngIf="loading">Loading</div>
    <iframe [src]="referenceUrl | safe" frameborder="0" (load)="iframeLoaded()"></iframe>
  </section>
  <section class="overview__pagination">
    <div
      class="overview__thumb"
      [ngClass]="{ 'overview__thumb--active': referenceUrl === reference.url }"
      *ngFor="let reference of references"
      (click)="setActiveReference(reference.url)"
    >
      <img [src]="reference.thumb" alt="" />
    </div>
  </section>
  <section class="overview__properties" *ngIf="properties?.length > 0">
    <h3>Properties</h3>
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Type</th>
          <th>Default value</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let property of properties">
          <td>{{ property.name }}</td>
          <td>{{ property.type }}</td>
          <td>{{ property.default }}</td>
        </tr>
      </tbody>
    </table>
  </section>
</section>
