<section class="home-filters">
  <section class="home-filters__section">
    <div class="home-filters__label">Filters</div>
    <button class="btn btn--filter" [ngClass]="{ active: allClicked }" (click)="toggleAll()">
      All
    </button>
    <button
      class="btn btn--filter"
      [ngClass]="{ active: filters.commonFilters.technical }"
      (click)="updateCommonFilters('technical')"
    >
      Technical
    </button>
    <button
      class="btn btn--filter"
      [ngClass]="{ active: filters.commonFilters.functional }"
      (click)="updateCommonFilters('functional')"
    >
      Technical
    </button>
    <button
      class="btn btn--filter"
      [ngClass]="{ active: filters.commonFilters.security }"
      (click)="updateCommonFilters('security')"
    >
      Security
    </button>
  </section>
  <section class="home-filters__section">
    <div class="home-filters__label">Dates</div>
    <button class="btn btn--filter active">All</button>
    <label for="from">from</label>
    <input type="date" name="from" id="from" />
    <label for="to">to</label>
    <input type="date" name="to" id="to" />
    <button class="btn btn--filter" type="submit">View</button>
  </section>
</section>
