@import 'variables';
@import 'mixins';
@import 'fonts';

$text-color: #00b5bd;
$yellow1: #ffce0b;
$yellow2: #ffdc56;
$blue1: #89c4d5;
$blue2: #a3d8e7;
$grey1: #595761;
$grey2: #6e7587;
$dark-blue1: #0066ff;
$dark-blue2: #4d94ff;
$magenta1: #b73369;
$magenta2: #d485a5;
$turquesa1: #00b4be;
$turquesa2: #34c4cb;

article {
  display: flex;
  flex-direction: column;
  margin-bottom: em(60);
  a {
    align-items: center;
    display: flex;
    flex-direction: column;
    opacity: 0.8;
    transition: 0.5s;

    &:hover {
      opacity: 1;
    }
  }

  div {
    align-items: center;
    border-radius: 100%;
    box-shadow: 0 0 4px 0 rgba(80, 148, 161, 0.7);
    color: $white;
    display: flex;
    height: em(80);
    justify-content: center;
    margin-bottom: em(10);
    width: em(80);

    i {
      font-size: em(30);
    }

    &.yellow {
      background-color: $yellow2;
      @include filter-gradient($yellow1, $yellow2);
    }

    &.blue {
      background-color: $blue2;
      @include filter-gradient($blue1, $blue2);
    }

    &.grey {
      background-color: $grey2;
      @include filter-gradient($grey1, $grey2);
    }

    &.dark-blue {
      background-color: $dark-blue2;
      @include filter-gradient($dark-blue1, $dark-blue2);
    }

    &.magenta {
      background-color: $magenta2;
      @include filter-gradient($magenta1, $magenta2);
    }

    &.turquesa {
      background-color: $turquesa2;
      @include filter-gradient($turquesa1, $turquesa2);
    }
  }

  p {
    color: $text-color;
    font-family: $santander-tx-regular;
    font-size: em(21);
  }
}
