@import 'variables';
@import 'mixins';
@import 'fonts';

:host {
  margin-top: auto;
}

footer {
  background-color: $blue-dark;
  height: em(70);
  margin-top: em(35);
  padding: 0 em(25);

  section {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;

    &.footer__wrapper {
      @include wrapper;
    }
  }

  p {
    color: $white;
    font-family: $open-sans;
    font-size: em(10);
    margin-bottom: em(5, 10);
  }

  @include for-tablet-portrait-up {
    section {
      align-items: center;
      flex-direction: row;
    }

    p {
      font-size: em(12);
      margin-bottom: 0;
    }

    ::ng-deep {
      app-footer-menu {
        margin-left: auto;
      }
    }
  }
}
