@import 'variables';
@import 'mixins';
@import 'fonts';

.detail {
  background-color: $white;

  &__header {
    padding: em(30) em(30) 0;
    margin-bottom: em(50);
  }

  &__body {
    margin-top: em(10);
  }
}
