@import 'variables';
@import 'mixins';
@import 'fonts';

.detail {
  @include main-container;

  &__header {
    padding: em(30) em(30) 0;
    margin-bottom: em(50);
  }

  &__body {
    margin-top: em(10);
  }

  &__related-content {
    padding: em(40) em(30);
  }
}
