@import 'variables';
@import 'mixins';
@import 'fonts';

button {
  border: none;
  height: em(22);
  padding: 0 em(20) 0 em(10);
  position: relative;

  &:hover {
    background-color: $hover;
  }
}

.action-menu {
  @include box-shadow;
  align-items: center;
  display: flex;
  height: em(50);

  button {
    border: none;
    border-radius: 0;
  }

  &__btns {
    display: flex;
    height: 100%;
    padding: 0;

    button {
      align-items: center;
      color: $black;
      display: flex;
      font-family: $open-sans;
      height: 100%;
      padding: 0 em(20) 0 em(10);
      position: relative;
      width: auto;

      img {
        margin-right: em(10);
      }

      &:not(:last-child) {
        &::after {
          content: '';
          height: 100%;
          background-color: $grey-light;
          position: absolute;
          right: 0;
          top: 0;
          width: 1px;
        }
      }

      & + button {
        padding-left: em(15);
      }
    }
  }

  &__hamburguer {
    border-left: 1px solid $grey-light;
    height: em(50);
    width: em(47);

    button {
      color: $grey-icons;
      height: 100%;
      padding: em(13) em(10);
      position: relative;
      width: 100%;

      img {
        width: 100%;
      }
    }
  }
}
