@import 'variables';
@import 'mixins';
@import 'fonts';

.detail-header {
  display: flex;
  flex-direction: column;

  article {
    display: flex;

    & > div {
      flex: 1;
    }

    &:not(:last-child) {
      margin-bottom: em(24);
    }
  }

  &__analysis {
    align-items: center;
    color: $grey-font;
    display: flex;
    font-family: $santander-hl-regular;
    font-size: em(12);

    span {
      font-size: em(22, 12);

      &:nth-child(1) {
        color: rgba(7, 109, 192, 0.7);
        margin-left: em(8);
      }
      &:nth-child(2) {
        color: rgba(126, 212, 201, 0.7);
      }
      &:nth-child(3) {
        color: rgba(212, 68, 93, 0.7);
      }
      &:nth-child(4) {
        color: rgba(80, 148, 161, 0.7);
      }
      &:nth-child(5) {
        color: rgba(244, 213, 86, 0.7);
      }
    }
  }

  &__title {
    align-items: center;
    display: flex;

    h1 {
      @include header-title;
    }

    span {
      &.icon {
        color: #0c69c8;
        font-size: em(28, 32);

        &:nth-child(2) {
          color: $chart-pie;
        }

        &:nth-child(3) {
          color: #a4cb39;
        }
      }

      &.tag {
        color: rgba($color: $grey-font, $alpha: 0.8);
        font-family: $santander-hl-regular;
        font-size: em(20, 32);
        margin-left: em(20, 32);
      }
    }
  }

  &__related {
    span {
      color: rgba($color: $blue, $alpha: 0.85);
      font-size: em(14);

      &:not(:last-child) {
        margin-right: em(15);
      }
    }
  }

  &__team {
    display: flex;

    p {
      color: $grey-font;
      font-family: $santander-hl-regular;
      font-size: em(12);
    }

    div {
      align-content: flex-start;
      display: flex;
      flex-wrap: wrap;
      max-width: 20%;

      & + div {
        & + div {
          max-width: 30%;
        }
      }

      p {
        display: block;
        width: 100%;
      }

      span {
        color: rgba($color: $blue, $alpha: 0.85);
        display: inline;
        font-family: $santander-hl-regular;
        font-size: em(14);
        line-height: em(20, 14);
        padding-left: em(15, 14);
        position: relative;

        &::after {
          background-color: #00be0e;
          border-radius: 100%;
          bottom: em(4, 14);
          content: '';
          display: block;
          height: em(10, 14);
          left: 0;
          position: absolute;
          width: em(10, 14);
        }

        &:not(:last-child) {
          margin-right: em(15, 14);
        }
      }

      &:not(:last-child) {
        margin-right: em(15);
      }
    }
  }

  &__detail {
    display: flex;
    flex: 1;

    table {
      display: grid;
      border-collapse: collapse;
      width: calc(80% - 80px);
      grid-template-columns:
        minmax(25%, 1fr)
        minmax(25%, 1fr)
        minmax(30%, 1fr)
        minmax(20%, 1fr);

      td,
      th {
        text-align: left;
      }

      th {
        align-items: flex-end;
        color: $grey-font;
        display: flex;
        font-family: $santander-hl-regular;
        font-size: em(12);
      }

      td {
        font-size: em(14);
        color: rgba($color: $blue, $alpha: 0.85);
      }

      thead,
      tbody,
      tr {
        display: contents;
      }
    }

    .icon {
      color: $success;
      font-size: em(72);
    }
  }

  &__description {
    p {
      color: rgba($color: $blue, $alpha: 0.85);
      font-size: em(14);
      width: 80%;
    }
  }
}
