<section class="detail-header">
  <article>
    <div class="detail-header__title">
      <h1>
        <span class="icon icon-fort-awesome"></span>
        <span class="icon icon-windows"></span>
        <span class="icon icon-themeisle"></span>
        {{ data?.title }}
        <span class="tag" *ngFor="let tag of data?.titleTags">{{ tag }}</span>
      </h1>
    </div>
    <div class="detail-header__detail">
      <table>
        <thead>
          <tr>
            <th>Last access</th>
            <th>Last release</th>
            <th>Tests</th>
            <th>Coverage</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{ data?.componentDetail?.access }}</td>
            <td>{{ data?.componentDetail?.release }}</td>
            <td>{{ data?.componentDetail?.tests }}</td>
            <td>{{ data?.componentDetail?.coverage }}</td>
          </tr>
        </tbody>
      </table>
      <span class="icon icon-chart-pie"></span>
    </div>
  </article>
  <article>
    <div class="detail-header__icons">
      <app-icon-group [icons]="data?.icons"></app-icon-group>
    </div>
    <div class="detail-header__description">
      {{ data?.description }}
    </div>
  </article>
  <article>
    <div class="detail-header__related">
      <span *ngFor="let item of data?.related">{{ item }}</span>
    </div>
    <div class="detail-header__analysis" *ngIf="data?.analysis?.length > 0">
      Sast analysis <span *ngFor="let item of data.analysis" class="icon {{ item }}"></span>
    </div>
  </article>
  <article>
    <div class="detail-header__team">
      <div *ngIf="data?.team?.owner?.length > 0">
        <p>Owner</p>
        <span *ngFor="let item of data?.team?.owner">{{ item }}</span>
      </div>
      <div *ngIf="data?.team?.coowners?.length > 0">
        <p>Co-owners</p>
        <span *ngFor="let item of data?.team?.coowners">{{ item }}</span>
      </div>
      <div *ngIf="data?.team?.collaborators?.length > 0">
        <p>Collaborators</p>
        <span *ngFor="let item of data?.team?.collaborators">{{ item }}</span>
      </div>
    </div>
  </article>
</section>
