@import 'fonts';
@import 'variables';
@import 'mixins';

section {
  @include box-shadow;
  align-items: center;
  background-color: $blue-background-menu;
  display: flex;
  font-family: $open-sans;
  font-size: em(16);
  height: em(86);
  padding: 0 em(30);

  ::ng-deep {
    app-search-input {
      input {
        font-size: em(16);
      }
    }
  }
}
