* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  font-family: $verdana;
  background: $grey;
}
.wrapper {
  height: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: em(10);
  padding-left: em(10);
  width: em($body-width);
}
