@import 'variables';

input,
textarea,
select {
  background-color: $white;
  border: 1px solid $blue-border;
  border-radius: 4px;
  color: $grey-dark;
  font-family: $santander-hl-regular;
  height: em(40);
  margin-bottom: em(15);
  padding: 0 em(10);
  width: em(321);

  &.error {
    border-color: $main;
    color: $main;
  }

  &::placeholder {
    color: rgba($black, 0.3);
  }

  &:focus {
    outline: none;
    outline-offset: 0;
    border-color: $blue-light;
  }
}
