@import 'variables';

form {
  input,
  textarea,
  select {
    background-color: $white;
    border: 1px solid transparent;
    box-shadow: inset 0 0 3px 0 rgba($black, 0.5);
    color: $grey-dark;
    font-family: $santander-hl-regular;
    height: em(40);
    margin-bottom: em(15);
    padding: 0 em(10);
    width: em(321);

    &.error {
      border: 1px solid $main;
      box-shadow: inset 0 0 1px 0 rgba($black, 0.1);
      color: $main;
    }

    &::placeholder {
      color: rgba($black, 0.3);
    }

    &:focus {
      outline-offset: 0;
      border-color: $blue-light;
      box-shadow: inset 0 0 1px 0 rgba($black, 0.1);
    }
  }
}
