@font-face {
  font-family: 'fontello';
  src: url('/assets/fonts/icons/fontello.eot?85866858');
  src: url('/assets/fonts/icons/fontello.eot?85866858#iefix') format('embedded-opentype'),
    url('/assets/fonts/icons/fontello.woff2?85866858') format('woff2'),
    url('/assets/fonts/icons/fontello.woff?85866858') format('woff'),
    url('/assets/fonts/icons/fontello.ttf?85866858') format('truetype'),
    url('/assets/fonts/icons/fontello.svg?85866858#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('/assets/fonts/icons/fontello.svg?85866858#fontello') format('svg');
  }
}
*/

[class^='icon-']:before,
[class*=' icon-']:before {
  @include icon-style;
}

.icon-search:before {
  content: '\e800';
} /* '' */
.icon-th-large:before {
  content: '\e801';
} /* '' */
.icon-down-open:before {
  content: '\e802';
} /* '' */
.icon-left-open:before {
  content: '\e803';
} /* '' */
.icon-right-open:before {
  content: '\e804';
} /* '' */
.icon-up-open:before {
  content: '\e805';
} /* '' */
.icon-th-list:before {
  content: '\e806';
} /* '' */
.icon-menu:before {
  content: '\f0c9';
} /* '' */
.icon-table:before {
  content: '\f0ce';
} /* '' */
.icon-folder-empty:before {
  content: '\f114';
} /* '' */
.icon-chart-pie:before {
  content: '\f200';
} /* '' */
.icon-codiepie:before {
  content: '\f284';
} /* '' */
.icon-modx:before {
  content: '\f285';
} /* '' */
.icon-first-order:before {
  content: '\f2b0';
} /* '' */
