@mixin for-phone-only {
  @media (max-width: $phone) {
    @content;
  }
}
@mixin for-tablet-portrait-up {
  @media (min-width: $tablet) {
    @content;
  }
}
@mixin for-tablet-landscape-up {
  @media (min-width: $tablet-lanscape) {
    @content;
  }
}
@mixin for-desktop-up {
  @media (min-width: $desktop) {
    @content;
  }
}
@mixin for-big-desktop-up {
  @media (min-width: $desktop-big) {
    @content;
  }
}

@function em($pixels, $context: $browser-context) {
  @return #{$pixels/$context}em;
}

@mixin box-shadow {
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.3);
}

@mixin wrapper {
  margin-right: auto;
  margin-left: auto;
  max-width: em($body-width);
  padding-right: em(10);
  padding-left: em(10);
}

@mixin icon-style {
  font-family: 'fontello';
  font-style: normal;
  font-weight: normal;
  speak: none;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: 0.2em;
  text-align: center;
  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: 0.2em;

  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */

  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
