@mixin for-phone-only {
  @media (max-width: $phone) {
    @content;
  }
}
@mixin for-tablet-portrait-up {
  @media (min-width: $tablet) {
    @content;
  }
}
@mixin for-tablet-landscape-up {
  @media (min-width: $tablet-lanscape) {
    @content;
  }
}
@mixin for-desktop-up {
  @media (min-width: $desktop) {
    @content;
  }
}
@mixin for-big-desktop-up {
  @media (min-width: $desktop-big) {
    @content;
  }
}

@function em($pixels, $context: $browser-context) {
  @return #{$pixels/$context}em;
}

@mixin wrapper {
  margin-right: auto;
  margin-left: auto;
  max-width: em($body-width);
  padding-right: em(10);
  padding-left: em(10);
}
