// Breakpoints
$phone: '599px';
$table: '600px';
$body-width: 960;
$tablet-landscape: '900px';
$desktop: '1200px';
$desktop-big: '1800px';

// Fonts
$browser-context: 16;
$verdana: 'Verdana', sans serif;

// Colors
$black: #000;
$grey: #e3e7f1;
$white: #fff;
$main: #3369ff;
$secondary: #efe9cc;
