// Breakpoints
$phone: '599px';
$table: '600px';
$body-width: 1280;
$tablet-landscape: '900px';
$desktop: '1200px';
$desktop-big: '1800px';

// Fonts
$browser-context: 16;
$verdana: 'Verdana', sans serif;

// Colors
$black: #000;
$blue: #24446c;
$blue-light: #3366ff;
$blue-dark: #1d252d;
$grey: #dcdde0;
$grey-dark: #6f7779;
$white: #fff;
$main: #ec0000;
$secondary: #3b5787;
